@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root-content {
  box-sizing: border-box;
  width: 100%;
  min-height: 84vh;
  margin: 48px 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

a:hover {
  opacity: 0.8;
}

button {
  display: inline-flex;
  align-items: center;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  background-color: #1abc9c;
  color: white;
  border: none;
}

button:hover {
  opacity: 0.8;
  font-weight: normal;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.cancel-button {
  background-color: #ff7d6f;
}

.mat-toolbar {
  background-color: #1abc9c;
}

/* Flex Layout */
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 2em;
  position: relative;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-end {
  justify-content: flex-end;
}

/* Centering */
.center-everything {
  justify-content: center;
  align-items: center;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.center {
  width: var(--content-width);
  min-height: fit-content;
  position: relative;
  margin: 30px auto 0;
}

/* Custom Classes */
.w100 {
  width: 100%;
}

.horizontal-line {
  width: 90%;
  border-bottom: 1px solid #95a5a6;
  margin: auto;
  padding: 0;
}

.form-list {
  display: flex;
  flex-direction: column;
}

.m0 {
  margin: 0;
}

.p0 {
  padding: 0;
}

.mp0 {
  margin: 0;
  padding: 0;
}

.width100vw {
  width: 100vw;
}

.card-section {
  width: 80%;
}

.section-header {
  font-size: 20px;
  font-weight: bold;
  color: #707070;
}

.body1 {
  font-size: 16px;
}

.chip-clr {
  color: #7f8c8d;
}

/* Modal Classes */

.modalW {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  border-radius: 4px;
}

/* Modal Content */
.modalW-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 4px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.modalW-header {
  padding: 2px 16px;
}

.modalW-body {
  padding: 10px 10px;
  min-height: 50px;
}

.modalW-footer {
  padding: 2px 16px;
}

.modal-button {
  background-color: #1abc9c;
  color: #ecf0f1;
  border-radius: 4px;
}

.cancel-button {
  background-color: #ff7d6f;
  color: #ecf0f1;
  border-radius: 4px;
}
