:host {
  width: 100%;
}

/* Custom classes */
.profile-card-size {
  width: 600px;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 4px 8px gray;
}

.border-bot-gray-1 {
  border: 1px #95a5a6;
  border-style: none none dashed none;
  padding-bottom: 4px;
}

.btn:hover {
  border: 4px solid #bbd1d3;
  color: #bbd1d3;
}

.btn:active {
  color: #bbd1d3;
}

.btn {
  border: 4px solid #7f8c8d;
  color: #7f8c8d;
  font-size: 20px;
  padding: 8px;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  transition: color 0.25s, border 0.25s, background-color 0.25s;
}

/* Flexbox classes */
.flex-1 {
  flex-grow: 1;
  flex-basis: 0;
}

.align-items-stretch {
  align-items: stretch;
}

/* Image Styling */
.icons-16 {
  height: 20px;
  width: 20px;
  object-fit: contain;
}

/* Sizing */
.w80 {
  width: 80%;
}

.w50 {
  width: 50%;
}

.w33 {
  width: 33%;
}

/* Margins & Padding */
.mr8 {
  margin-right: 8px;
}

.mb32 {
  margin-bottom: 32px;
}

/* Font Sizing & Styling */
