<div class="flex-column align-items-center">
  <div class="card flex-column align-items-center profile-card-size">
    <img src="../../assets/profile-pic-92.png" class="profile-pic-92 mb16" />
    <span
      class="h5 neutral-gray-clr mb32"
      [innerText]="profile.firstName"
    ></span>
    <div class="flex-column align-items-center w80 mb32">
      <div class="flex-row align-items-center">
        <img src="../../assets/bio_16.png" class="icons-16 mr8" />
        <span class="h6 neutral-gray-clr">Bio</span>
      </div>
      <span class="body1 italic" [innerText]="profile.bio"> </span>
    </div>
    <div
      class="flex-row justify-content-space-between align-items-center border-bot-gray-1 flex-1 w100 mb32"
    >
      <div class="flex-row align-items-center">
        <img src="../../assets/email_16.png" class="icons-16 mr8" />
        <span class="h6 neutral-gray-clr">Email</span>
      </div>
      <span class="h6" [innerText]="profile.email"></span>
    </div>
    <div
      class="flex-row justify-content-space-between align-items-center border-bot-gray-1 flex-1 w100 mb32"
    >
      <div class="flex-row align-items-center">
        <img src="../../assets/school_16.png" class="icons-16 mr8" />
        <span class="h6 neutral-gray-clr">School</span>
      </div>
      <span class="h6" [innerText]="profile.school"></span>
    </div>
    <div
      class="flex-row justify-content-space-between align-items-center border-bot-gray-1 flex-1 w100 mb8"
    >
      <div class="flex-row align-items-center">
        <img src="../../assets/major_16.png" class="icons-16 mr8" />
        <span class="h6 neutral-gray-clr">Major</span>
      </div>
      <span class="h6" [innerText]="profile.major"></span>
    </div>
    <div
      class="flex-row justify-content-space-between align-items-center border-bot-gray-1 flex-1 w100 mb8"
    >
      <div class="flex-row align-items-center">
        <img src="../../assets/major_16.png" class="icons-16 mr8" />
        <span class="h6 neutral-gray-clr">Minor</span>
      </div>
      <span class="h6" [innerText]="profile.minor"></span>
    </div>
    <div
      class="flex-row justify-content-space-between align-items-center border-bot-gray-1 flex-1 w100 mb32"
    >
      <div class="flex-row align-items-center">
        <img src="../../assets/degree_program.png" class="icons-16 mr8" />
        <span class="h6 neutral-gray-clr">Catalog Year</span>
      </div>
      <span class="h6" [innerText]="profile.catalogYear"></span>
    </div>
    <div
      class="flex-row justify-content-space-between align-items-center border-bot-gray-1 flex-1 w100 mb32"
    >
      <div class="flex-row align-items-center">
        <img src="../../assets/grad_date_16.png" class="icons-16 mr8" />
        <span class="h6 neutral-gray-clr">Expected Graduation Date</span>
      </div>
      <span class="h6" [innerText]="profile.expectedGradTerm"></span>
    </div>
    <div class="flex-row justify-content-space-between align-items-center w100">
      <div class="back btn">Back</div>
      <div class="btn">Edit profile</div>
    </div>
  </div>
</div>
