<div class="flex-row justify-content-center align-items-center w100">
  <mat-card class="flex-column justify-content-center w100 border-radius-0">
    <span class="section-header mb16">Degree Plan</span>
    <div class="flex-row align-items-start w100">
      <div class="plan-editor">
        <div *ngIf="plan && plan.length > 0; else emptyPlan" class="w100 mp0">
          <div *ngFor="let year of plan" class="year">
            <div class="year-title">
              <div class="year-hori-line"></div>
              <span class="year-range"
                >{{ year.beginning }} - {{ year.ending }}</span
              >
              <div class="year-hori-line"></div>
            </div>
            <div class="semester-cards-container">
              <!-- Semester Cards -->
              <div
                *ngFor="let semester of year.semesters"
                class="semester-card"
                (drop)="onDropCourse(semester.term, semester.year)"
                (dragover)="(false)"
              >
                <div
                  class="flex-row justify-content-space-between align-items-center w100"
                >
                  <span class="semester-card-term"
                    >{{ semester.term | titlecase }} {{ semester.year }}</span
                  >
                  <mat-form-field class="mr0">
                    <mat-label>Status</mat-label>
                    <mat-select class="roboto" [(ngModel)]="semester.status">
                      <mat-option value="completed" class="roboto"
                        >Completed</mat-option
                      >
                      <mat-option value="in-progress" class="roboto"
                        >In-Progress</mat-option
                      >
                      <mat-option value="planned" class="roboto"
                        >Planned</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <!-- Course Rows -->
                <div
                  *ngIf="semester.courses.length > 0; else emptySemester"
                  class="w100"
                >
                  <div class="semester-card-course-empty">
                    <span class="body1 neutral-gray-clr"
                      ><< Drag Courses Here >></span
                    >
                  </div>
                  <div
                    *ngFor="let course of semester.courses"
                    class="semester-card-course"
                  >
                    <div class="semester-card-course-chip-and-difficulty">
                      <mat-chip-list class="mr8">
                        <mat-chip [matMenuTriggerFor]="menu" class="chip">
                          {{ course.code }}
                        </mat-chip>
                      </mat-chip-list>
                      <mat-menu #menu="matMenu" style="padding: 0px;">
                        <app-popup
                          [title]="course.school + ' ' + course.code"
                          [subtitle]="course.title"
                          contentTitle="Description"
                        >
                          <p *ngIf="course?.description">
                            {{ course.description }}
                          </p>
                        </app-popup>
                      </mat-menu>
                      <div
                        *ngIf="course.difficulty == 1"
                        class="statistic-chip-1 mr8"
                      >
                        <img
                          src="../../assets/difficulty-16.png"
                          class="icon-16 mr8"
                        />
                        {{ course.difficulty }}
                      </div>
                      <div
                        *ngIf="course.difficulty == 2"
                        class="statistic-chip-2 mr8"
                      >
                        <img
                          src="../../assets/difficulty-16.png"
                          class="icon-16 mr8"
                        />
                        {{ course.difficulty }}
                      </div>
                      <div
                        *ngIf="course.difficulty == 3"
                        class="statistic-chip-3 mr8"
                      >
                        <img
                          src="../../assets/difficulty-16.png"
                          class="icon-16 mr8"
                        />
                        {{ course.difficulty }}
                      </div>
                      <div
                        *ngIf="course.impaction == 1"
                        class="statistic-chip-1 mr8"
                      >
                        <img
                          src="../../assets/impaction-16.png"
                          class="icon-16 mr8"
                        />
                        {{ course.impaction }}
                      </div>
                      <div
                        *ngIf="course.impaction == 2"
                        class="statistic-chip-2 mr8"
                      >
                        <img
                          src="../../assets/impaction-16.png"
                          class="icon-16 mr8"
                        />
                        {{ course.impaction }}
                      </div>
                      <div
                        *ngIf="course.impaction == 3"
                        class="statistic-chip-3 mr8"
                      >
                        <img
                          src="../../assets/impaction-16.png"
                          class="icon-16 mr8"
                        />
                        {{ course.impaction }}
                      </div>
                    </div>
                    <span class="semester-card-course-units"
                      >{{ course.credit }} units</span
                    >
                  </div>
                </div>
                <ng-template #emptySemester>
                  <div class="semester-card-course-empty">
                    <span class="body1 neutral-gray-clr"
                      ><< Drag Courses Here >></span
                    >
                  </div>
                </ng-template>
                <!-- Sum of Courses Row -->
                <div class="semester-card-total-difficulty-and-units">
                  <div class="semester-card-course-chip-and-difficulty">
                    <div
                      *ngIf="
                        semester.difficulty >= 1 && semester.difficulty < 2
                      "
                      class="statistic-chip-1"
                    >
                      <img
                        src="../../assets/difficulty-16.png"
                        class="icon-16 mr8"
                      />
                      {{ semester.difficulty }}
                    </div>
                    <div
                      *ngIf="
                        semester.difficulty >= 2 && semester.difficulty < 3
                      "
                      class="statistic-chip-2"
                    >
                      <img
                        src="../../assets/difficulty-16.png"
                        class="icon-16 mr8"
                      />
                      {{ semester.difficulty }}
                    </div>
                    <div
                      *ngIf="semester.difficulty >= 3"
                      class="statistic-chip-3"
                    >
                      <img
                        src="../../assets/difficulty-16.png"
                        class="icon-16 mr8"
                      />
                      {{ semester.difficulty }}
                    </div>
                  </div>
                  <span class="semester-card-course-units"
                    >= {{ semester.units }} units</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #emptyPlan></ng-template>
        <div class="new-semester-separator-line mt8 mb16"></div>
        <div class="new-semester">
          <div *ngIf="newSemesterIsActive" class="new-semester-active">
            <mat-form-field>
              <mat-label>Term</mat-label>
              <mat-select class="roboto" [(ngModel)]="newSemesterTermSelect">
                <mat-option value="summer" class="roboto">Summer</mat-option>
                <mat-option value="fall" class="roboto">Fall</mat-option>
                <mat-option value="winter" class="roboto">Winter</mat-option>
                <mat-option value="spring" class="roboto">Spring</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Year</mat-label>
              <input
                matInput
                placeholder="Ex. 2020"
                type="number"
                min="0"
                class="roboto"
                [(ngModel)]="newSemesterYearField"
              />
            </mat-form-field>
            <div class="flex-row justify-content-center align-items-center">
              <button mat-button class="mr8" (click)="onClickNewSemester()">
                Cancel
              </button>
              <button
                mat-button
                class="new-semester-add-btn"
                (click)="onClickAddNewSemester()"
              >
                Add
              </button>
            </div>
          </div>
          <div
            *ngIf="newSemesterIsActive == false"
            class="new-semester-inactive"
            (click)="onClickNewSemester()"
          >
            <img src="../../assets/add-48.png" class="mb8" />
            <span class="new-semester-header">
              Add a semester
            </span>
          </div>
        </div>
      </div>
      <div class="available-courses-list">
        <span class="body1 neutral-gray-clr mb8">Eligible Courses:</span>
        <mat-chip-list
          *ngFor="let courseType of courseSelection.eligible"
          class="mb16"
        >
          <mat-chip
            *ngFor="let course of courseType.courses"
            class="chip"
            draggable="true"
            (dragstart)="onDragStartCourse(course)"
          >
            {{ course }}
          </mat-chip>
        </mat-chip-list>
        <span class="body1 neutral-gray-clr mt8 mb8">Ineligible Courses:</span>
        <mat-chip-list
          *ngFor="let courseType of courseSelection.ineligible"
          class="mb16"
        >
          <mat-chip *ngFor="let course of courseType.courses" class="chip">
            {{ course }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </mat-card>
</div>

<!-- New Semester
  <div class="new-semester">
    <div *ngIf="newSemesterIsActive" class="new-semester-active">
      <mat-form-field>
        <mat-label>Term</mat-label>
        <mat-select class="roboto">
          <mat-option value="summer" class="roboto">Summer</mat-option>
          <mat-option value="fall" class="roboto">Fall</mat-option>
          <mat-option value="winter" class="roboto">Winter</mat-option>
          <mat-option value="spring" class="roboto">Spring</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Year</mat-label>
        <input
          matInput
          placeholder="Ex. 2020"
          type="number"
          min="2020"
          class="roboto"
        />
      </mat-form-field>
      <div class="flex-row justify-content-center align-items-center">
        <button mat-button class="mr8" (click)="onClickNewSemester()">
          Cancel
        </button>
        <button mat-button class="new-semester-add-btn">Add</button>
      </div>
    </div>
    <div
      *ngIf="newSemesterIsActive == false"
      class="new-semester-inactive"
      (click)="onClickNewSemester()"
    >
      <img src="../../assets/add-48.png" class="mb8" />
      <span class="new-semester-header">
        Add a semester
      </span>
    </div>
  </div>
-->
