:host {
  width: 100%;
}

/* Custom Styling */
.plan-editor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}

.new-semester {
  min-width: 320px;
  max-width: 25%;
  flex-grow: 1;
  flex-basis: 0;
  height: 192px;
  border: 4px dashed #7f8c8d;
  border-radius: 8px;
  box-sizing: border-box;
}

.new-semester-active {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s;
}

.new-semester-inactive {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.5s;
}

.new-semester-inactive:hover {
  background-color: #e3e3e3;
}

.new-semester-header {
  font-size: 24px;
  font-weight: bold;
  color: #7f8c8d;
}

.new-semester-add-btn {
  color: #ffffff;
  background-color: #2ecc71;
}

.new-semester-add-btn:hover {
  background-color: #27ae60;
}

.new-semester-modal-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  border: 4px dashed #7f8c8d;
  border-radius: 8px;
  padding: 16px;
}

.year {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.year-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.year-range {
  font-size: 20px;
  color: #707070;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 8px;
}

.year-hori-line {
  border: 1px solid #7f8c8d;
  flex-grow: 1;
  flex-basis: 0;
}

.semester-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 8px;
  width: 100%;
}

.semester-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 320px;
  max-width: 25%;
  flex-grow: 1;
  flex-basis: 0;
  border: 1px solid #ecf0f1;
  border-radius: 8px;
  box-shadow: 0px 3px 6px #ecf0f1;
  padding: 16px;
  margin-left: 4px;
  margin-right: 4px;
  background-color: #ffffff;
  transition: height 1s;
}

.semester-card-term {
  font-size: 16px;
  font-weight: bold;
  color: #707070;
  margin-bottom: 8px;
}

.semester-card-course {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  border-bottom: 1px solid #ecf0f1;
}

.semester-card-course-empty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  border-bottom: 1px solid #ecf0f1;
}

.semester-card-course-chip-and-difficulty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.semester-card-course-units {
  font-size: 14px;
  color: #707070;
  font-weight: bold;
}

.semester-card-total-difficulty-and-units {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  width: 100%;
  border-top: 1px solid #ecf0f1;
}

.semester-card-course-remove {
  position: absolute;
  left: -40px;
  cursor: pointer;
  width: 16px;
}

.statistic-chip-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  background-color: #2ecc71;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
}

.statistic-chip-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  background-color: #ffa250;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
}

.statistic-chip-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  background-color: #ff7d6f;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
}

.chip {
  font-size: 16px;
  background-color: #ecf0f1;
  color: #7f8c8d;
}

.new-semester-separator-line {
  border: 2px dashed #7f8c8d;
  width: 100%;
}

.border-radius-0 {
  border-radius: 0;
}

.courses-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 20%;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.courses-category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 16px;
  border: 4px solid #7f8c8d;
  border-radius: 8px;
}

.courses-category-header {
  font-size: 20px;
  font-weight: bold;
  color: #707070;
}

.vert-line-divider {
  border: 2px solid #7f8c8d;
  align-self: stretch;
  margin-left: 16px;
  border-radius: 8px;
}

/* Sizing */

.w80 {
  width: 80%;
}

.w20 {
  width: 20%;
}

.border {
  border: 1px solid black;
}
