<mat-expansion-panel *ngIf="profile | async as userProfile">
  <mat-expansion-panel-header>
    <mat-panel-title class="module-header">
      Courses Taken
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-chip-list>
    <mat-chip *ngFor="let course of userProfile.courses_taken">
      {{ course }}
    </mat-chip>
  </mat-chip-list>
  <p>
    <button class="modal-button" (click)="showPopup = true">Show pop-up</button>
    <app-popup
      [isOpen]="showPopup"
      title="Test pop-up"
      (onClose)="popupStatus($event)"
      (onInput)="getPopupData($event)"
    >
      This is the content of the pop-up (thanks to transclusion aka content
      projection)
      {{ userProfile.courses_taken }}
    </app-popup>
  </p>
</mat-expansion-panel>
